@model BookRental.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 id="title">Profile Details</h2>


<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.HasPassword)
            {
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ChangePassword")">
                            <i class="bi bi-pencil"></i>
                            <span>Change Password</span>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("SetPassword")">
                            <i class="bi bi-pencil"></i>
                            <span>Create Password</span>
                        </a>
                    </div>
                </div>
            }

            &nbsp; &nbsp;

            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ManageLogins")">
                        <i class="bi bi-pencil"></i>
                        <span>Manage External Logins</span>
                    </a>
                </div>
            </div>

            <div class="container-fluid mt-3">
                <div class="row mb-3">
                    <div class=" col-6">

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label " })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.BirthDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy/MM/dd}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.MembershipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "id", "name"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-offset-2">
                        @Html.ActionLink("Edit", "Edit", "Manage", null, new { @class = "btn btn-sm btn-success" })
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>
</div>

